table {
    empty-cells: hide;
}
td,tr,th {
    border-radius: 5px;
    width:120px;
    padding:15px;
    text-align: center;
}
thead tr:first-of-type{
    background: linear-gradient(to top,  #8af004,#6ab623 );
}

th:first-of-type {
    background: linear-gradient( 45deg,  #8af004,#6ab623 );
}
td {
        background-color: skyblue;
}